<!-- Sign and registration -->

<%= stylesheet_link_tag "user_sessions"%>
<style type="text/css">
  /* Override some defaults */
  html, body { background-color: #eee; }
</style>

<div class="row">
  <div class="span9">
    <div class="row">
      <div class="span6">
        <div class="container-fluid">
          <div class="content">
	          <div class="row">
		          <div class="login-form">
			          <h2>Subscribe</h2>
			           <%= render "users/form", :action => "Register" %>
		          </div>
	          </div>
          </div>
        </div> <!-- /container-fluid -->
      </div>
      <div class="span3">
        <div class="container-fluid">
          <div class="content">
	          <div class="row">
		          <div class="login-form">
			          <h2>Login</h2>
			           <%= render "user_sessions/form" %>
		          </div>
	          </div>
          </div>
        </div> <!-- /container -->
      </div>
    </div>
  </div>
</div>
